*{box-sizing;border-box;}
body{
	font-family:Arial;
	padding:10px;
	background:#f0f3f5;
}
/*ini kode untuk apa?*/
.header{
	padding:30px;
	text-align:center;
	background-color:#80d3ec;
}
.header h1{font-size:50px;}
/* Style the top navigation bar*/
.top[nav a{
	overflow:hiden;
	background-color:#89d6f5;
}
/* Style the topnav links*/
.topnav a{
	flpoat:left;
	display:block;
	color:#78d1e0;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}
/7Change color on hover*/
.topnav a:hover{
	background-color:#ddd;
 color:black;
}
/*Create two unequal columns that floats next to each other*/
/* Left column*/
.leftccolumn{
	float:left;
	width:75}
/*Right column*/
.right column{
float:lrft;
width:25%;
background-color:#f1f1f1;
padding-left:20px;	
}
/*Fake image */
.fakening{
background-color:#aaa;
width:100%;
padding:20px;
}
/*ini kode untuk artikel*/
.card;{
background-color:white;
padding:20px;
margin-top:20px;
}
*/Clear floats after the column*/
.row::after{
	content:"";
	display:table;
 cleare:both;
 }
 /*Footere*/
 .footer{
 padding:20px;
 text-align:center;
 background:#add;
 margin-top:20px;
 }
